.options {
    border: 1px solid black;
    padding: 10px;
    cursor: default;
    border-radius: 10px;
}

body {
    background-image: url("../images/blue-sky.jpeg");
    background-color: lightskyblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    text-align: center;
    background: none;
}
p:hover {
    background-color: yellow;
    font-weight: bold;
  }

  return 
