.options {
    border: 1px solid black;
    padding: 10px;
    cursor: default;
    border-radius: 10px;
}

body {
    background-image: url("../images/blue-sky.jpeg");
    background-color: lightskyblue;
}

.jumbotron {
    text-align: center;
    background: none;
    font: white;
}

#answers {
    font: white;
}